{% extends 'base.html' %}

{% block content %}




<h3 class = "rapport" >Rapport : </h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis hic temporibus voluptatem cum aperiam atque nemo amet non repellendus alias.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, consequuntur.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt omnis dolore odit. Maxime, deserunt aperiam recusandae corporis tempora vel cum voluptas amet id quidem ea, totam, veritatis doloremque? Cum doloremque quos assumenda rem quaerat vitae adipisci corporis eaque perspiciatis deserunt. Ipsam corporis libero repellat doloribus quod illo architecto, harum aperiam.</p>
 
<div>
    {% for i in list %}

        {{list}}

    {% endfor %}

   


<h3 class = "regles">Régles à réviser :</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis hic temporibus voluptatem cum aperiam atque nemo amet non repellendus alias.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, consequuntur.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt omnis dolore odit. Maxime, deserunt aperiam recusandae corporis tempora vel cum voluptas amet id quidem ea, totam, veritatis doloremque? Cum doloremque quos assumenda rem quaerat vitae adipisci corporis eaque perspiciatis deserunt. Ipsam corporis libero repellat doloribus quod illo architecto, harum aperiam.</p>



{% endblock content %}