{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="home">
    <section class="left">
        <div class="top">
            <p class="paragraph">"... If you are willing to work on your English and you are unable to meet any native speaker with whom you can brush up your linguistic capabilities with .. 
            If you are in need to someone to correct your grammar, vocabulary or spelling mistakes, then ..."</p>
            <p class="paragraph">Here you can chat with our friendly bot and boost your confidence in interacting in English while improving your grammatical and spelling skills.</p>
            <p class="paragraph">Welcome on ChatWizMe</p>
        </div>
        <a href="/chatbox" class="start">Let's Chat</a> 
    </section>

    <section class="right">
        <p class="signup_advice">Sign up to save your conversations in our database</p>
        <div class="img">        
            <img class="image"  src="{% static 'images/chatbot.jpg' %}" alt="image d'une chatbox" />
        </div>

        <div class="buttons">
            <a href="register" class="button">Signup</a>
            <a href="auth2/login/" class="button">Login</a>
        </div>

    </section>
</div>
{% endblock content %}