
<body>
    <nav class="navbar navbar-expand-sm bg-">
        <nav class="navbar navbar-expand-sm bg-">
          
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                 INSCRIPTION
                </a>
                <div class="dropdown-menu">
                   <a class="dropdown-item" href="#">INSCRIPTION</a>
                   <a class="dropdown-item" href="#">Rapport</a>
                   <a class="dropdown-item" href="#">Aide</a>
                </div>
             </li>
             
             <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Rapport
                 </a>
                 <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">INSCRIPTION</a>
                    <a class="dropdown-item" href="#">Rapport</a>
                    <a class="dropdown-item" href="#">Aide</a>
                 </div>
              </li>
 
              <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                 Aide
                 </a>
                 <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">INSCRIPTION</a>
                    <a class="dropdown-item" href="#">Rapport</a>
                    <a class="dropdown-item" href="#">Aide</a>
                 </div>
              </li>
           </ul>         
         </nav>
     </nav>
  <div id="container">
    <div id="outer">
      <div id="header">En-tête</div>
      <div id="inner">
        <div id="lpane">Panel gauche</div>
        <div id="header">Chatwizme <br>quant discuter en devient Ludique</br></div>      
                          <figure>
                            <blockquote>
                                <p>Chatwizme... Tout droit sorti de l'imagination de trois stagiaires passionnés par l'univers de la Big Data mais avec peu de notions en langue anglaise. En recherchant une solution, l'idée de Chatwizme leur vint.  Ce que Chatwizme vous propose, c'est d'apprendre de manière ludique, convivale et autonome, avec l'aide d'une IA avancée en Dialogue, le Chatbot.</p>
                             </blockquote>
                            <figcaption>Citation de <cite><a href="">Twenty twenty-two</a></cite> par Juan, Zouhair, Saber.</figcaption>
                          </figure>        
                            

        <div id="rpane">Panel droit</div>
      </div>
      <p>
        <br /><img src="images/" />
    </p>
    </div>
    <div id="footer">Pied de page</div>
  </div>
</body>






{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Navbar Example</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   </head>
   <body>

    
      
    <nav class="navbar navbar-expand-sm bg-">
       <nav class="navbar navbar-expand-sm bg-">
         
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                INSCRIPTION
               </a>
               <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">INSCRIPTION</a>
                  <a class="dropdown-item" href="#">Rapport</a>
                  <a class="dropdown-item" href="#">Aide</a>
               </div>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                 Rapport
                </a>
                <div class="dropdown-menu">
                   <a class="dropdown-item" href="#">INSCRIPTION</a>
                   <a class="dropdown-item" href="#">Rapport</a>
                   <a class="dropdown-item" href="#">Aide</a>
                </div>
             </li>

             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Aide
                </a>
                <div class="dropdown-menu">
                   <a class="dropdown-item" href="#">INSCRIPTION</a>
                   <a class="dropdown-item" href="#">Rapport</a>
                   <a class="dropdown-item" href="#">Aide</a>
                </div>
             </li>
          </ul>         
        </nav>
    </nav>
   
                          <div id="header">Chatwizme <br>quant discuter en devient Ludique</br></div>      
                          <figure>
                            <blockquote>
                                <p>Chatwizme est né de l'imagination de trois stagiaire passionné par l'univers de la Big Data mais avec peu de notions en langue anglaise. l'apprentissage d'une langue est aujourd'hui très répendu. Ce que Chatwizme vous propose, est de le faire de maniere ludique, convivale et autonome, avec l'aide d'une IA intersidérale.</p>
                            </blockquote>
                            <figcaption>Citation de <cite><a href="">Twenty twenty-two</a></cite> par Juan, Zouhair, Saber.</figcaption>
                        </figure>                  







                        
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   </body>
</html>
{% endblock content %}