{% extends 'base.html' %}
{% block content %}

<div class="chatbox_block">
    <h1 class="chatbox_title">Chatbox</h1>

<div class="chatbox_container">
    {% for message in user_messages  %}
        <div class="chatbox_message_container_left">
            <span class="chatbox_message user-msg">{{message}}
                <span class="chatbox_message_time">13:37</span>
            </span>
        </div>
    {% endfor %}

{% comment %} <div class="chatbox_message_container_right">
        <span class="chatbox_message bot-msg">Pip is a package manager.
            <span class="chatbox_message_time">13:38</span>
        </span>
    </div> {% endcomment %}
</div>
<form method="POST" class="form">
    {% csrf_token %}

    {{form}}
    <button type="submit" class="chatbox_submit">Submit</button>
</form>
</div>
{% endblock content %}